* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-size: 14px;
    font-family: sans-serif;
    text-decoration: none;
}

body {
    background-color: white;
    width: 100%;
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
}

.wrapper {
    width: 100%;
    height: 600px;
}

.conteudo {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    height: 550px;
}

.imagem-celular img {
    width: 425px;
    height: 650px;
}

.grupo {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 350px;
    padding: 30px;
    background-color: white;
    margin-bottom: 8px;
    border: 1px solid lightgray;
}

.grupo:nth-child(3) {
    border: none;
}

#botao-toogle {
    position: absolute;
    top: 30px;
    right: 0;
    left: 0;
    display: flex;
    justify-content: center;
}

#botao-toogle > label {
    background-color: #577990;
    display: block;
    height: 20px;
    width: 44px;
    border-radius: 100px;
    position: relative;
    cursor: pointer;
    transition: 0.3s;
}

#botao-toogle > label::after {
    position: absolute;
    display: block;
    top: -3px;
    left: -2px;
    width: 26px;
    height: 26px;
    background-color: #3498db;
    content: "";
    transition: 0.3s;
    border-radius: 100px;
}

#botao-toogle > label:active::after {
    transform: scale(1.15, 0.85);
}

#botao-toogle > input:checked ~ label {
    background-color: #577990;
}
#botao-toogle > input:checked ~ label::after {
    left: 20px;
    background-color: #3498db;
}

#botao-toogle > input {
    display: none;
}

/*Ãrea login*/

.login-conteudo {
    display: flex;
    flex-direction: column;
    justify-content: start;
    align-items: center;
    height: 100%;
}

#logo {
    width: 180px;
    padding-bottom: 20px;
}

.botoes, .botoes input {
    width: 100%;
    color: white;
    padding: 8px;
    border-radius: 3px;
    margin-bottom: 10px;
}

.botao{
    border: 1px solid lightgray;
}

.botao-submit{
    border: none;
}

.botoes{
    padding: 0;
}

.botoes input:nth-child(3) {
    margin-top: 8px;
    background-color: #7ec8fa;
    font-weight: bold;
}

.botoes .botao-submit:hover {
    background-color: #7bb5db;
    cursor: pointer;
}

.entrar {
    width: 100%;
    text-align: center;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.entrar-facebook {
    display: flex;
    align-items: center;
    margin-top: 5px;
}

.entrar-facebook, .entrar-facebook a {
    background-position: center left;
    color: #256996;
    font-weight: bold; 
}

.entrar-facebook i {
    font-size: 14px;
    margin-right: 5px;
}

.entrar > a {
    margin-top: 20px;
}

#cadastro {
    color: #3498db;
    font-weight: bold;
}

.app-download {
    display: flex;
    width: 100%;
    height: 100px;
    margin-top: 8px;
}

.app-download-play-store {
    width: 50%;
}

.app-download-store {
    width: 50%;
}

.app-download-play-store img, .app-download-store img {
    width: 130px;
    height: 40px;
    border-radius: 5px;
}